.scissors2{
    background-image: url(../img/image\ 7.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: content-box;
    background-size: auto;

    width: 30%;
    height: 100%;
    float: left;
}

.text{
    font-size: 40px;
    text-decoration-line: underline;

    position: absolute;
    top: 5%;
}

.textAboutUs{
    position: absolute;
    top: 10%;
    left: 35%;

    color: var(--nude);
    word-wrap: break-word;
    width: 50%;
    font-size: 32px;
    float: right;
}

.imgBubble{
    object-fit: fill;
    width: 20%;
    height: 60%;
    position: absolute;
    right: 3%;
    bottom: 3%;
}

.textInfo{
    position: absolute;
    top: 5%;
    left: 65%;

    color: var(--nude);
    word-wrap: break-word;
    width: 50%;
    font-size: 32px;
    float: right;
}

.textInfo{
    position: absolute;
    top: 5%;
    right: 5%;

    color: var(--nude);
    word-wrap: break-word;
    width: 50%;
    font-size: 32px;
    float: right;
}